<%- model_class = Stuff -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div id="stuffs-table">
  <%= render 'table', stuffs: @stuffs %>
</div>
<%= modal_dialog id: "modal",
         header: { show_close: true, dismiss: 'modal', title: 'Entrada' },
         body:   { content: 'form' },
         footer: { content: content_tag(:button, 'Save', class: 'btn') } %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_stuff_path,
            :class => 'btn btn-primary' %>

<div class="modal fade" id="new_entry_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="nome_entrada" align="center">Entrada</h4>
      </div>
      <div id="entry_form" class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="new_departure_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="nome_entrada" align="center">Retirada</h4>
      </div>
      <div id="departure_form" class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="stuff_log_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="nome_entrada" align="center">Log de Entradas/Retiradas</h4>
      </div>
      <div id="stuff_log_table" class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
